/* You can add global styles to this file, and also import other style files */

// body {
//     margin: 0;
//     padding: 0;
// }
.product-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px 20 px;
}

.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

@media(min-width:0px) {
    .product-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px 20 px;
    }
}

@media(min-width:576px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px 20 px;
    }
    .container {
        width: 1110px;
        padding-right: 16px;
        padding-left: 16px;
    }
}

@media(min-width:768px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px 20 px;
    }
    .container {
        width: 1110px;
        padding-right: 16px;
        padding-left: 16px;
    }
}

@media(min-width:992px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 50px 20 px;
    }
    .container {
        width: 1110px;
        padding-right: 16px;
        padding-left: 16px;
    }
}

@media(mid-width:1200px) {
    .product-grid {
        background-color: green;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}